
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>FlaskApp</title>
      <link rel="stylesheet" href="/static/styles/mainpage.css">
  </head>
  <body>
    <form action = "https://flaskapichallenge.herokuapp.com/processed" method = "POST">
      <div class="outside">
        <div class="inside">
       <p class="textBox">Enter your text here<br>e.g. {"text": "your text"} <b>OR</b> "your text":<br><input type = "json" name = "raw_text" /></p>
       <p><input type = "submit" value = "submit" /></p>
     </div>
   </div>
    </form>
  </body>
</html>
